    <div class="btn-group dropdown pull-right">
      <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bars"></i>&nbsp<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a id="show_software_details" class="btn btn-lg">
             <span class="caret"></span> Software detail
          </a>
        </li>
      </ul>
    </div>


<div id="software_detail_panel" class='panel panel-default top-gap'>
  <div class='panel-body'>
    <%= render 'shared/show/default_attributes', record_object: @software_version.software, fa: :tablet %>
  </div>
</div>
