<%  # record_object as ActiveRecord object
    # json_method as string or sym
    # fa as string or sym

    inspect_method ||= :pretty_print
%>

<div class="top-gap">
  <% if inspect_method.to_sym == :pretty_print %>
    <%= (ap record_object.send(:pretty_print), plain: true, index: false, multiline: true).gsub('\n', '<br>').html_safe %>
  <% else %>
    <div class="panel">
      <div class="panel-body">
        <%= record_object.send(inspect_method).to_s.html_safe %>
      </div>
    </div>
  <% end %>
</div>
