  <p>
  <%= link_to 'Back', software_path %>
</p>

<hr>

 <p>
<% vals=Array.new
vals.push(@result) %>
<pre>
  <%= JSON.pretty_generate(JSON.parse( @result)) %>
  </pre>
  
  be
   


 <%= link_to 'Back', software_path %>
 
