
<div class="col-sm-12 text-center">
  <%= link_to image_tag("engines_logo.png", class: "home-page-logo-holder"), root_path, class: 'trigger-response-modal' %>
</div>

<div class="col-sm-12 text-center top-gap">

  <%= render 'shared/index/default', items: @blueprint_versions, fa: :'file-text', page_title: :'Recent blueprints', show_back_button: false, show_add_button: false %>

</div>
