<nav class="affix top-gap hidden-xs hidden-sm" >
  <ul class="nav">
    <small>
      <a href="#"><li>Top</li></a>
      <a href="#service_definition_accepts"><li>Accepts</li></a>
      <a href="#setup_variables"><li>Setup variables</li></a>
      <a href="#consumer_variables"><li>Consumer variables</li></a>
      <a href="#service_definition_configurators"><li>Configurators</li></a>
    </small>
  </ul>
</nav>
