<div class="col-sm-12 text-center top-gap">
  <%= render 'shared/index/default', items: @blueprint_versions, fa: :'file-text',
        page_title: :'Recent blueprints',
        show_back_button: false, show_add_button: false %>
</div>
ServiceDefinition.attribute_names
<%= ServiceDefinition.attribute_names %>
