.alert {
  margin: 0px;
  border: none;
  border-radius: 0px;
  font-size: 1.2em;
}

.top-gap {
  margin-top: 15px;
}

body {
  background-color: transparent;
  font-size: 18px;
}

.show label,
th
 {
  padding-top: 3px;
  font-size: 14px;
  color: #999;
}

hr {
  margin: 2px;
}

#footer {
  height: 300px;
}


.no-text-wrap {
  overflow:hidden;
  white-space:nowrap;
}

.btn-xlg {
  font-size: 30px;
}