.panel pre {
}

.panel label {
  padding-top: 2px;
  font-size: 14px;
  color: #999;
  min-width: 75px;
  margin-bottom: 0px;
  text-align: right;
}

.panel .panel-text {
  margin-bottom: 10px;
  word-wrap: break-word;
}

