<h1>Listing Service Types</h1>

<table>
 <tr>
  
   <th>Name</th>
  <th>Comment</th>
 </tr>
 <% @servicetypes.each do |servicetype| %>
 <tr>
  <td><%= servicetype.name %></td>
  <td><%= servicetype.comment %></td>
  <td><%= link_to 'Show', servicetype_path(servicetype) %></td>
 </tr>
 
 <% end %>
</table>

<%= link_to 'New Service', new_servicetype_path %>
